body{
    background-color: black;
}


  
  #typing-text {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em; 
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
  }
  

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    50% { border-color: transparent }
  }
  




@keyframes glow {
    from {
        text-shadow: 
            0 0 10px rgba(128, 128, 128, 0.5), 
            0 0 20px rgba(128, 128, 128, 0.7), 
            0 0 30px rgba(128, 128, 128, 1);  
    }
    to {
        text-shadow: 
            0 0 20px rgba(128, 128, 128, 0.7), 
            0 0 30px rgba(128, 128, 128, 1),   
            0 0 40px rgba(128, 128, 128, 1);   
    }
}
